* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: row;
    background: #ccc;
}

header {
    padding: 10px;
    background-color: #add8e6;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.head-content {
    padding: 10px;
    background-color: #daa52b;
    display: flex;
}

li {
    display: inline-block;
    list-style: none;
}

li a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;
}

ul{
    display: flex;
    justify-content: center;

}

.logo {
    display: inline-block;
    flex-grow: 1;
}

.menu {
    flex-grow: 3;

}

.login {
    display: flex;
    flex-grow: 1;
    justify-content: end;
}



.main-content {
    background-color: #0c258b;
    width: 100%;
    padding: 2%;
}

.sub{
    background-color: #ed82ee;
    padding: 10%;
    width: 40%;
    margin: 0 auto;
    border: 3px dotted black;
}

