* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: row;
    background: #ccc;
}

header {
    padding: 10px;
    background-color: #add8e6;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.head-content {
    padding: 10px;
    background-color: #daa52b;
    display: flex;
}

li {
    display: inline-block;
    list-style: none;
}

li a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;
}

ul{
    display: flex;
    justify-content: center;

}

.logo {
    display: inline-block;
    flex-grow: 1;
}

.menu {
    flex-grow: 3;

}

.login {
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

/* 
footer {
    padding: 10px;
    background-color: cadetblue;
}

.footer-content {
    padding: 10px;
    background-color: darkseagreen;
}

main {
    padding: 10px;
    background-color: black;
}

.main-content {
    display: flex;
    justify-content: space-between;
    background-color: gray;
}

.colsx {
    height: 120px;
    background-color: aquamarine;
    flex-grow: 2;
    margin: 10px;
}

.coldx,
.colssx {
    background-color: aqua;
    height: 70px;
    margin: 10px;
    flex-grow: 1;
} */