* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: row;
    background: #ccc;
}

header {
    padding: 10px;
    background-color: #add8e6;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.head-content {
    padding: 10px;
    background-color: #daa52b;
    display: flex;
}

li {
    display: inline-block;
    list-style: none;
}

li a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;
}

ul {
    display: flex;
    justify-content: center;

}

.logo {
    display: inline-block;
    flex-grow: 1;
}

.menu {
    flex-grow: 3;

}

.login {
    display: flex;
    flex-grow: 1;
    justify-content: end;
}



.main-content {
    background-color: #0c258b;
    width: 100%;
    padding: 2%;
}

.sub {
    background-color: #ed82ee;
    padding: 10%;
    width: 40%;
    margin: 0 auto;
    border: 2px dotted black;
}

/* <!-- primo flex (celeste/rosa) --> */

.skyrose {
    width: 100%;
    padding: 2% 20%;
    display: flex;
}

.skysub {
    background-color: #1f8ffb;
    padding: 20%;
    width: 70%;
    margin: 0 auto;
    border: 2px dotted black;
    flex-grow: 15;
}

.rosesub {
    background-color: #f6bfca;
    padding: 20%;
    width: 30%;
    margin: 0 auto;
    border: 2px dotted black;
    flex-grow: 1;
}

/* secondo flex (rosa/celeste) */

.rosesky {
    background-color: #d3d3d3;
    width: 100%;
    padding: 2% 20%;
    display: flex;
}

.skysub {
    background-color: #1f8ffb;
    padding: 20%;
    width: 70%;
    margin: 0 auto;
    border: 2px dotted black;
    flex-grow: 15;
}

.rosesub {
    background-color: #f6bfca;
    padding: 20%;
    width: 30%;
    margin: 0 auto;
    border: 2px dotted black;
    flex-grow: 1;
}

/* terzo flex (celeste/rosa) */

.skyrose {
    width: 100%;
    padding: 2% 20%;
    display: flex;
}

.skysub {
    background-color: #1f8ffb;
    padding: 20%;
    width: 70%;
    margin: 0 auto;
    border: 2px dotted black;
    flex-grow: 15;
}

.rosesub {
    background-color: #f6bfca;
    padding: 20%;
    width: 30%;
    margin: 0 auto;
    border: 2px dotted black;
    flex-grow: 1;
}

/* greenscreen */

.screen {
    background-color: #d3d3d3;
    width: 100%;
    padding: 2% 20%;
    
}

.green {
    background-color: #418c24;
    padding: 35%;
    margin: 0 auto;
    border: 2px dotted black;
}